@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      sans-serif;
    overflow-x: hidden; /* 가로 스크롤 방지 */
  }

  body {
    @apply bg-gray-50 text-gray-900;
    overflow-x: hidden;
    max-width: 100vw;
  }
}
